

  
  
  
  
  
  .logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Golos Text', sans-serif;
    position: fixed;
    max-width: 85%;
    
    top: 50%;
    left: 50%;
    z-index: -3;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    margin-top: 30px;
  
  }
  
    .loginform {
      width: 370px;
      padding: 20px;
      border: 1px solid #ececf1;
      border-radius: 20px;
      padding-top: 30px;
      padding-bottom: 35px;
      border-radius: 3px;
      box-shadow: 2px 2px 2px #bbbbbb;
      font-family: 'Golos Text', sans-serif;
      background-color: #fff;
  
    }
    
    .loginhead {
      text-align: center;
      margin-bottom: 30px;
      font-family: 'Golos Text', sans-serif;
      font-weight: 500;
    }
    
  
    
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 13px;
      border: 1px solid #c9cace;
      border-radius: 3px;
      font-size: 16px;
      
    }
    
    .auth-submit {
      width: 100%;
      padding: 13px;
      border: none;
      border-radius: 3px;
      background-color: #ab2c74;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin-top: 0px;
    }
    
    .auth-submit:hover,
    .auth-submit:active  {
      background-color: #931055;
    }
    
  
    .form-group {
      position: relative;
      margin-bottom: 1.3rem;
    }
    
    .formcontrol {
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      padding: 10rem;
      font-size: 1px;
      transition: all 0.2s ease;
    }
    
    .formcontrol:focus  {
  
      border-color: blue;
  
    }
  
    input:-webkit-autofill-strong-password {
      background-color: white !important;
    }
    
  
    
    .formcontrol:focus ~ label {
      top: -0.75rem;
      font-size: 0.75rem;
      color: blue;
      transition: all 0.2s ease;
      background-color: #fff;
      padding: 2px;
    }
    
    .formcontrol:valid ~ label {
      top: -0.75rem;
      font-size: 0.75rem;
      
      
      transition: all 0.3s ease;
      background-color: #fff;
      padding: 2px;
    }
  
  
    
    label {
      position: absolute;
      top: 0.8rem;
      left: 0.5rem;
      font-size: 1rem;
      color: #999;
      pointer-events: none;
      transition: all 0.3s ease;
    }
    
    label.active {
      top: -0.75rem;
      font-size: 0.75rem;
      color: #ffffff;
      transition: all 0.3s ease;
    }
    
    .auth-button:hover {
      background-color: #bb3b7f;
      width: 84%
    }
    
    
    .google-button {
      background-color: #ffffff;
      color: #757575;
      width: 100%;
      padding: 15px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      border: 1px solid #c9cace;
      border-radius: 3px;
      font-size: 16px;
    }
    
    .google-button:hover {
      background-color: #eeeeee;
    }
    
    .google-button img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  
  
    .or {
      display: flex;
      align-items: center;
      margin: 20px 0;
      font-size: 85%;
    }
    
    .bar {
      flex: 1;
      height: 1px;
      margin: 0 10px;
      background-color: #ccc;
    }
    
  
  
    .passwordbutton {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: #666;
      opacity: 1;
    }
    
    .passwordbutton:hover {
      opacity: 1;
    }
  
  
  
  
  
  
  
  
  
  
  
  /* .logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Golos Text', sans-serif;
    position: fixed;
    max-width: 90%;
    top: 50%;
    left: 50%;
    z-index: -3;
    transform: translate(-50%, -50%);
  }
    
    form {
      width: 400px;
      padding: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
      border: 1px solid #ececf1;
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgb(128, 128, 128);
      background-color:#fff;
      font-family: 'Golos Text', sans-serif;
  
    }
    
    .loginhead {
      text-align: center;
      margin-bottom: 40px;
      font-family: 'Golos Text', sans-serif;
      font-weight: 300;
    }
    
    .form-group {
      gap:30px;
      
    }
    
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      
    }
    
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(159, 47, 107);
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin-top: 0px;
    }
    
    button[type="submit"]:hover,
    button[type="submit"]:active  {
      background-color: #931055;
    }
    
  
    .form-group {
      position: relative;
      margin-bottom: 1.5rem;
    }
    
    .form-control {
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      padding: 10rem;
      font-size: 1px;
      transition: all 0.2s ease;
    }
    
  
    
    .form-control:focus ~ label {
      top: -0.75rem;
      font-size: 0.75rem;
      color:#666;
      transition: all 0.2s ease;
      background-color: #fff;
      padding: 2px;
    }
    
    .form-control:valid ~ label {
      top: -0.75rem;
      font-size: 0.75rem;
      
      color: #666;
      transition: all 0.3s ease;
      background-color: #fff;
      padding: 2px;
    }
  
  
    
    label {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-size: 1rem;
      color: #999;
      pointer-events: none;
      transition: all 0.3s ease;
    }
    
    label.active {
      top: -0.75rem;
      font-size: 0.75rem;
      color: #ffffff;
      transition: all 0.3s ease;
    }
  
  
  
  
    .google-button {
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin-bottom: 20px;
    }
    
    
    .auth-button:hover {
      background-color: #bb3b7f;
      width: 84%
    }
    
    
    .google-button {
      background-color: #ffffff;
      color: #757575;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
    }
    
    .google-button:hover {
      background-color: #eeeeee;
    }
    
    .google-button img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  
  
    .or {
      display: flex;
      align-items: center;
      margin: 20px 0;
    }
    
    .bar {
      flex: 1;
      height: 1px;
      margin: 0 10px;
      background-color: #ccc;
    }
    
  
  
    .passwordbutton {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      opacity: 0.5;
    }
    
    .passwordbutton:hover {
      opacity: 0.7;
    }
  
   */
  