/* .profile-container {
  margin-top: 10vh;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-image {
  width: 150px;
  border-radius: 100px;
}

.profile-name {
  margin-top: 10px;
  font-size: 24px;
}

.profile-email-usn {
  margin-top: 5px;
  font-size: 16px;
}

.profile-info-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.accountinfo,
.Preferences {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  width: 200px;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
}

.accountinfo ul,
.Preferences ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accountinfo li,
.Preferences li {
  margin-bottom: 5px;
}

.accountinfo a,
.Preferences a {
  display: block;
  color: #212529;
  text-decoration: none;
}

.logout-icon {
  margin-right: 4px;
  margin-bottom: 2px;
}

.feedback-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  width: 80%;
  max-width: 400px;
  max-height: 300px;
  backdrop-filter: blur(20px);
}

.feedback-modal-content {
  margin-bottom: 20px;
}

.feedback-modal-content h3 {
  margin-top: 0;
}

.feedback-input {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.submit-feedback-button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

@media (max-width: 768px) {
  .profile-image {
    width: 100px;
  }
} */
