.error-message {
    position: fixed;
    top: 11%;
    left: 40%;
    right:40%;
    background-color: #ffe3e3;
    border: 1px solid #ff7f7f;
    border-radius: 4px;
    color: #ff7f7f;
    padding: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .error-message.show {
    opacity: 1;
  }
  