

.active-button{
    color: #9e1d65;
    border-radius: 15%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    }
    
    .active-button:hover{
    color: #9e1d65;
    
    }

.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000 ;

    display: flex;
    
  
    border-top: 1px solid #c1c1c1 ;
    background-color: rgb(250, 250, 250);
    backdrop-filter: blur(30px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 70px ;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .mobile-bottom-nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    max-width: 20%;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
  }
  
  
  

  
  .inactive-button{
  color: rgb(100, 100, 100);
  
  }
  
  .inactive-button:hover{
  color: black;
  
  }