.StudentTopNavbar{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: white;
  
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    
     

}

.nav-text{
    justify-content: center;
}

.StudentTopNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(240, 240, 240,1);
  }
  
  .leftIcon,
  .rightIcon {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 15px;
  }
  
  .centerText {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h5 {
    margin-bottom: 0;
    
  }
   