table {
  color: white;
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

th,
td {
  border: 2px solid #ffffff;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

.attendance-presentt {
  color: black;
  background-color: #a2dda2;
}

.attendance-absentt {
  color: black;
  background-color: #f1a39c;
}
