.Main_BOx {
  justify-content: center;
  margin: 0 auto;
  overflow-x: auto;
  width: 90%;
  margin-top: 200px;
  border: 1px solid grey;
  border-radius: 5px;
}

table {
  color: white;
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

th,
td {
  border: 2px solid #ffffff;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

.attendance-presentt {
  color: black;
  background-color: #a2dda2;
}

.attendance-absentt {
  color: black;
  background-color: #f1a39c;
}
