.admincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .adminform-group {
    position: relative;
  }
  
  .adminform-control {
    font-size: 16px;
    color: #333;
    padding: 10px;
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  .adminform-control:focus {
    outline: none;
    border-bottom-color: #007bff;
  }
  
  .adminform-control:focus + label {
    color: #007bff;
  }
  
  .adminform-control:not(:placeholder-shown) + label,
  .adminform-control:focus + label {
    font-size: 14px;
    color: #007bff;
    top: 0;
    transform: translateY(-50%);
  }
  
  .adminform-control:not(:placeholder-shown) {
    padding-top: 20px;
  }
  
  .adminform-control:valid {
    border-bottom-color: #28a745;
  }
  
  .adminform-control:invalid {
    border-bottom-color: #dc3545;
  }
  
  label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: all 0.3s ease-out;
  }
  
  .passwordbutton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #333;
  }
  
  .btn-primary {
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  