.active-link {
    color: #B72271;
    font-size: 14px;
    text-decoration: none;
}


.inactive-link {
    color: #6e6e80;
    font-size: 14px;
    text-decoration: none;
}

.inactive-link:hover {
    color: black;
}

.active-link:hover {
    color: #B72271;
    font-size: 14px;
    text-decoration: none;
}

.nav-dropdown {
    color: #777782;
    font-size: 14px;
    text-decoration: none;
    padding-left: 77.6px;
}

.nav-dropdown:hover {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.about-item {
    text-decoration: none;
    padding-left: 20%;
    color: #2c2c2c;
}



@media (max-width: 992px) {

    .nav-item {
        border-bottom: 1.6px solid #bebebe;
        padding: 14px;
    }

    .nav-link.dropdown-toggle {
        font-size: 18px;
        color: #2c2c2c;
    }

    .inactive-link {
        font-size: 18px;
        color: #000000;
        font-family: 'Golos Text', sans-serif;
        text-shadow: 1px 1px 1px #9d9d9d60;
    }

    .active-link {
        font-size: 18px;
        text-shadow: 1px 1px 1px #00000030;
    }

    .active-link:hover {
        font-size: 18px;
        text-shadow: 1px 1px 1px #00000030;
    }
}

@media (max-width: 992px) {


    .navbar-collapse.show {
        opacity: 1;
        right: 0%;
        top: 0px;
        transition: right 500ms;
        position: fixed;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-top: 120px;
        background-color: rgba(221, 221, 221, 0.5);
        width: 100%;
        height: 100%;
        z-index: 9998 !important;
        backdrop-filter: blur(30px);

    }

    .navbar-collapse.collapsing {
        right: -100%;
        transition: 0ms;
    }

    .navbar-toggler.collapsed~.navbar-collapse {
        opacity: 0;
        right: 100%;
        top: 0px;
        transition: right 500ms ease-in-out;
        position: fixed;
    }
}

.navbar.navbar-expand-lg.bg-body-tertiary::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: -1;
}

