/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Golos Text', sans-serif;
    width: 100%;
  }
  
  form {
    width: 400px;
    padding: 30px;
    border: 1px solid #ececf1;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    background-color:#fff;
    font-family: 'Golos Text', sans-serif;
    
  }
  
  .signuphead {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 300;
  }
  
  .form-group {
    gap: 6px;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #B72271;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
  }
  
  button[type="submit"]:hover,
  button[type="submit"]:active  {
    background-color: #931055;
  }
  

  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 10rem;
    font-size: 1px;
    transition: all 0.2s ease;
  }
  

  
  .form-control:focus ~ label {
    top: -0.75rem;
    font-size: 0.75rem;
    color:#666;
    transition: all 0.2s ease;
    background-color: #fff;
    padding: 2px;
  }
  
  .form-control:valid ~ label {
    top: -0.75rem;
    font-size: 0.75rem;
    
    color: #666;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 2px;
  }



  
  label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  label.active {
    top: -0.75rem;
    font-size: 0.75rem;
    color: #ffffff;
    transition: all 0.3s ease;
  }



  .error-box {
    background-color: #ffe3e3;
    border: 1px solid #ff7f7f;
    border-radius: 4px;
    color: #3f3f3f;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-family:  'Golos Text', sans-serif;
    font-size: 14px;
  } */