.table-containerr {
    overflow: auto;
     /* Adjust the maximum height as needed */
  }
  
  
  
  
  .table-containerr thead th {
    position: sticky;
    top: 0;
    background-color: rgba(158, 29, 101,1);
    color: white;
    z-index: -1;
    opacity: 1;
  }

  .attendance-card{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
 
  }

  .summary-table{
    max-width: 500px;
    margin-bottom: 70px;
   
    
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .innerTableData{
    font-size: 12px;
    
  }

  .subjectNames{
    font-size: 12px;
    font-weight: bolder;
  }
  .percentageStyle{
    font-weight: bolder;
  }

  .table-att{
    color:'white'
  }

 