.attendance-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
  display: flex;
  align-items: center;
}

.table-containerr {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adjust the maximum height as needed */
}

.subjectNames {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 8px;
}

.lowerInnerTableData {
  display: flex;
  justify-content: space-evenly;
}

.innerTableData {
  font-size: medium;
  font-weight: 500;
}

.percentageStyle {
  font-size: large;
}

.table-containerr th {
  background-color: rgba(158, 29, 101, 1);
  color: white;
}
