.t-container {
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  align-items: center;

  border-radius: 5px;
  margin-bottom: 100px;
  margin-top: 80px;
}

.t-filter {
  padding: 10px;
  display: flex;

  gap: 10px;
}

.mtable {
  justify-content: center;
  margin: 0 auto;
  overflow-x: auto;

  overflow-x: auto;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 11px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #a5a5a5;
  padding: 8px;
  text-align: center;

  white-space: break-spaces;
}

th {
  background-color: #f2f2f2;

  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(127, 106, 152, 0.3);
}

tr:hover {
  background-color: none;
}

/* .attendance-presentt {
  background-color: #b9e1b9;
  
  
}

.attendance-absentt {
  background-color: #f5b7b1;
}  */

.atttable {
  width: 90%;
  max-width: 1200px;
  position: relative;
}

.table-container {
  overflow: auto;
  max-height: 500px; /* Adjust the maximum height as needed */
}

th {
  position: sticky;
  top: 0;
  background-color: rgb(158, 29, 101);
  color: white;
}

.sub-dropdown {
  padding: 5px;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  font-size: 15px;
  color: black;
}
