

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .cardd {
    display: block;
    margin: 5px;
    padding: 10px;
    
    justify-content: left;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 375px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 360px;

  }
  
  @media (min-width: 768px) {
    .cardd {
      width: 400px; 
    }
  }
  
  .cardd:hover {
    background-color: #eee;
  }
  
  .cardd.present {
    background-color: #dff0d8;
  }
  
  .cardd.absent {
    background-color: #f2dede;
  }
  
  .cardd__image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: left;
  }
  
  .cardd__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: left;
  }
  
  .cardd__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardd__name {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .cardd__usn {
    margin: 0;
    font-size: 0.9rem;
    color: #888;
  }
  
  .cardd__last-5-att,
  .cardd__total-att {
    margin: 0;
    font-size: 0.9rem;
    color: #888;
  }
  

  .submitAttendance {
    background-color: #af4c79;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    
  }
  
  .submitAttendance:hover {
    background-color: #c71a68;
  }


  .multibutton {
    background-color: #af4c79;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    width:120px;
    text-align: center;
    
  }
  



  div.buttonContainer {
    display: flex;
    justify-content: center;
    
  }


  

  




 
  .select-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .select-label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .select-container {
    position: relative;
  }
  
  .select-container > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    color: #444;
    width: 200px;
    cursor: pointer;
  }
  
  .select-container > div:hover {
    border-color: #aaa;
  }
  
  .select-container > div:focus {
    outline: none;
    border-color: #0077cc;
    box-shadow: 0 0 0 2px rgba(0, 119, 204, 0.2);
  }
  
  .select-container > div:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border-top: 5px solid #777;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
  }
  
  .select-container > div > div {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
  }
  
  .select-container > div > div > div {
    padding: 10px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
  }
  
  .select-container > div > div > div:hover {
    background-color: #f1f1f1;
  }
  .attendance-present {
    color: #fff;
    background-color: green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .attendance-absent {
    color: #fff;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }